<% @categories.each do |c| %>
  <h3><%= link_to c.name, "/categories/#{c.name.gsub(" ", "_")}/articles" %></h3>
  <ul>
    <% c.articles.each do |a| %>
      <li><%= link_to a.title, a.url %></li>
    <% end %>
  </ul>
<% end %>

<h3>Tags</h3>
<ul>
  <% @tags.each do |tag| %>
    <li><%= link_to tag.name, "/tags/#{tag.name}/articles" %></li>
  <% end %>
</ul>

